.amg circle {
    fill: #fff;
    stroke: darkgreen;
    stroke-width: 10px;
}

.location circle {
    fill: #fff;
    stroke: darkgreen;
    stroke-width: 2.5px
}
.specialty circle {
  fill: #fff;
  stroke: darkgreen;
  stroke-width: 2.5px;
}

.provider circle {
    fill: #fff;
    stroke: darkgreen;
    stroke-width:1px;
}

.text {
    font: 12px serif;
    font-weight: 100;
    color: black;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
